# Виртуальное окружение (самое важное, весит много, в облаке не нужно)
.venv/
venv/
env/

# Настройки среды разработки (VS Code и PyCharm)
.idea/

# Кэш Python (служебные файлы, которые создаются при запуске кода)
__pycache__/
*.py[cod]

# Файлы с результатами (чтобы не пушить логи и JSON-отчеты)
*.log
*.csv
*.jpg
*.txt
*.pkl